*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
/* Color Theme Swatches in Hex */
/*FONT*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #0D0D0D;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track {
  background: #999;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover, body::-webkit-scrollbar-track:active {
  background: #222;
}

body .header {
  min-width: 100vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2em;
  padding-right: 2em;
}

@media (max-width: 300px) {
  body .header {
    display: none;
  }
}

@media (max-width: 568px) {
  body .header {
    display: none;
  }
}

@media (max-width: 768px) {
  body .header {
    display: none;
  }
}

body .header-its {
  color: #F2F2F2;
  font-size: 1.7em;
  padding: 0.5em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 1s all;
  transition: -webkit-transform 1s all;
  transition: transform 1s all;
  transition: transform 1s all, -webkit-transform 1s all;
  border-radius: 30px;
  background-color: #404040;
  width: 110px;
  height: 35px;
  font-family: "Open Sans", sans-serif;
}

body .header-its:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .main {
  min-width: 100vw;
  min-height: 70vh;
}

body .main-secondarytitle {
  color: #F2F2F2;
  font-size: 3em;
  padding-top: 2em;
  padding-left: 3em;
}

body .main-paragraph {
  padding-left: 3em;
  width: 70%;
  color: #F2F2F2;
  font-size: 1.2em;
}

body .main-boxs {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main-boxs .main-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em;
  border-radius: 30px;
  width: 300px;
  height: 150px;
  cursor: pointer;
}

body .main-boxs .git {
  background-color: #dd4c36;
  border: none;
  font-size: 1.5em;
}

body .main-boxs .modalContainer {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body .main-boxs .modalContainerText {
  background-color: #777;
  margin: auto;
  padding: 1em;
  border-top: 15px solid #dd4c36;
  max-width: 50%;
  border-radius: 10px;
}

body .main-boxs .modalContainerH2 {
  color: #0D0D0D;
  font-weight: 700;
  margin-bottom: 0.5em;
}

body .main-boxs .modalContainerPeldos {
  color: #fff;
}

body .main-boxs .html {
  background-color: #00d48c;
  border: none;
  font-size: 1.5em;
}

body .main-boxs .modalContainerHtml {
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body .main-boxs .modalContainerHtmlTextHtml {
  background-color: #777;
  margin: auto;
  padding: 1em;
  border-top: 15px solid #dd4c36;
  max-width: 50%;
  border-radius: 10px;
}

body .main-boxs .modalContainerHtmlH2Html {
  color: #0D0D0D;
  font-weight: 700;
  margin-bottom: 0.5em;
}

body .main-boxs .css {
  background-color: #2174f8;
  border: none;
  font-size: 1.5em;
}

body .main-boxs .js {
  background-color: #f0d91d;
  border: none;
  font-size: 1.5em;
}

body .footer {
  max-width: 99vw;
  background-color: #404040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
}

body .footer-a {
  margin: 1em;
  font-size: 2em;
}

body .footer-a a {
  color: #0D0D0D;
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

body .footer-a a .fab {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

body .footer-a a .fab:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #F2F2F2;
}

body .footer-a a .far {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

body .footer-a a .far:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #F2F2F2;
}

body .footer-a a .fas {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

body .footer-a a .fas:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #F2F2F2;
}
/*# sourceMappingURL=info.css.map */