*,
*:after,
*:before {
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
$color-primaryText: #212121;
$color-acent: #8baea4;
$color-gris: #bfbfbf;
$color-grisTopo: #737373;
$color-backNew: #404040;
$color-back: #fff;

/*FONT*/
$main-font: "Source Sans Pro", sans-serif;

html {
  scroll-behavior: smooth;

  body {
    font-family: $main-font;
    background-color: $color-back;
    overflow-x: hidden;

    //ESTILOS EN SCROLLBAR

    &::-webkit-scrollbar {
      width: 10px;
      height: 8px;
    }

    //Estilos barra (thumb) de scroll
    &::-webkit-scrollbar-thumb {
      background: $color-acent;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: $color-acent;
    }

    .header {
      width: 100%;
      min-height: 40px;
      display: flex;
      padding-top: 2em;
      justify-content: center;

      &-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        @media screen and (max-width: 800px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        @media screen and (max-width: 320px) {
          padding: 0;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }

        .internos {
          font-size: 1.4rem;
          position: relative;
          display: inline-block;
          padding: 1rem 0.5rem;
          text-decoration: none;
          color: inherit;
          transition: all 0.2s;
          color: $color-primaryText;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            display: inline-block;
            height: 0.1rem;
            background: $color-acent;
            transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
          }

          &:hover {
            color: $color-primaryText;
          }

          &:hover::after {
            right: 0;
            height: 1px;
            background: $color-acent;
          }
        }
      }
    }

    .main-text {
      max-width: 100%;
      min-height: 100vh;

      @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      @media screen and (max-width: 360px) {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &-principal {
        padding-top: 13.2em;
        padding-left: 3em;
        margin-top: 3em;
        margin-right: 6em;

        @media screen and (max-width: 600px) {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
        }

        @media screen and (max-width: 360px) {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
        }

        .img {
          margin-top: -150px;
          float: right;

          @media screen and (max-width: 600px) {
            display: none;
          }

          @media screen and (max-width: 320px) {
            display: none;
          }
        }

        &-h1 {
          color: $color-primaryText;
          font-family: $main-font;
          font-size: 4.5rem;
          line-height: 1em;
        }

        &-subtitle {
          color: $color-acent;
          font-family: $main-font;
          font-size: 2rem;
          margin-top: 20px;
          margin-bottom: 40px;
        }

        &-btn {
          cursor: pointer;
          position: relative;
          display: inline-block;
          padding: 30px 61px;
          border-radius: 4px;
          color: $color-acent;
          text-decoration: none;
          text-transform: uppercase;
          overflow: hidden;
          margin: 25px;
          filter: hue-rotate(0deg);
          border: 2px solid #d2bdff;
          transition: all 0.1s linear;

          &:hover {
            border: 1px solid transparent;
          }

          span {
            position: absolute;
            display: block;

            &:nth-child(1) {
              filter: hue-rotate(0deg);
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background: linear-gradient(90deg, transparent, #3aff5b);
              animation: animate1 1s linear infinite;
            }

            @keyframes animate1 {
              0% {
                left: -100%;
              }

              50%,
              100% {
                left: 100%;
              }
            }

            &:nth-child(2) {
              filter: hue-rotate(60deg);
              top: -100%;
              right: 0;
              width: 3px;
              height: 100%;
              background: linear-gradient(180deg, transparent, #057e3b);
              animation: animate2 1s linear infinite;
              animation-delay: 0.25s;
            }

            @keyframes animate2 {
              0% {
                top: -100%;
              }

              50%,
              100% {
                top: 100%;
              }
            }

            &:nth-child(3) {
              filter: hue-rotate(120deg);
              bottom: 0;
              right: 0;
              width: 100%;
              background: linear-gradient(270deg, transparent, #3ae974);
              animation: animate3 1s linear infinite;
              animation-delay: 0.5s;
            }

            @keyframes animate3 {
              0% {
                right: -100%;
                height: 3px;
              }

              50%,
              100% {
                height: 2px;
                right: 100%;
              }
            }

            &:nth-child(4) {
              filter: hue-rotate(300deg);
              bottom: -100%;
              left: 0;
              width: 3px;
              height: 100%;
              background: linear-gradient(360deg, transparent, #3aff44);
              animation: animate4 1s linear infinite;
              animation-delay: 0.75s;
            }

            @keyframes animate4 {
              0% {
                bottom: -100%;
              }

              50%,
              100% {
                bottom: 100%;
              }
            }
          }
        }
      }
    }

    .about {
      padding-top: 50px;
      color: $color-primaryText;
      min-width: 100vw;
      min-height: 100vh;
      height: 100vh;

      .otherMe {
        float: right;

        @media screen and (max-width: 600px) {
          display: none;
        }

        @media screen and (max-width: 320px) {
          display: none;
        }
      }

      @media screen and (max-width: 600px) {
        text-align: center;
      }

      @media screen and (max-width: 320px) {
        text-align: center;
      }

      .quien {
        font-size: 4.3rem;
        margin: 50px 0 50px 30px;

        @media screen and (max-width: 600px) {
          font-size: 2.5rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 2.5rem;
        }
      }

      &-text {
        font-family: $main-font;
        width: 800px;
        height: auto;
        margin-left: 30px;

        @media screen and (max-width: 600px) {
          max-width: 90%;
          text-align: center;
        }

        @media screen and (max-width: 320px) {
          max-width: 90%;
          text-align: center;
        }

        .myName {
          font-size: 1.2rem;
          color: $color-primaryText;
          margin-bottom: 30px;
        }

        .btn-my {
          color: $color-primaryText;
          font-size: 20px;
          padding: 0.5em 1.2em;
          background: rgba(0, 0, 0, 0);
          border: 2px solid;
          border-color: $color-primaryText;
          transition: all 1s ease;
          position: relative;
          padding: 1rem 4.2rem;
          font-weight: 400;
          text-decoration: none;
          margin: 60px 0 20px 0;

          &:hover {
            background: $color-acent;
            color: $color-back;
            text-decoration: none;
            border: $color-acent;
          }
        }
      }
    }

    .section {
      min-height: 100vh;

      .title {
        font-family: $main-font;
        font-size: 4.3rem;
        color: $color-primaryText;
        padding-left: 30px;
        padding-bottom: 1em;
      }

      &-content {
        font-family: $main-font;
        max-width: 100vw;
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; // Agregado para centrar las tarjetas

        &-images {
          border: 1px solid #b7f0ca;
          width: 600px; // Reducido el tamaño de la tarjeta
          margin: 20px; // Aumentado el margen entre tarjetas
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 4px; // Agregado para suavizar las esquinas de la tarjeta
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Agregado para dar una sombra a la tarjeta
          transition: transform 0.3s ease-in-out; // Ajustado para una transición más rápida

          &:hover {
            transform: scale(1.03);
          }

          img {
            width: 100%;
            height: auto; // Agregado para mantener la proporción de la imagen
            cursor: pointer;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
          &-opinion {
            color: #212121;
            margin: 10px;
          }
          &-tag {
            display: inline-block;
            padding: 4px 8px;
            background-color: #b7f0ca; // Cambia este valor según el color de fondo que prefieras
            color: #212121;
            font-size: 0.8rem;
            border-radius: 12px;
            margin-right: 4px; // Espacio entre tags
            margin-bottom: 4px; // Espacio entre tags y el contenido de abajo
            text-decoration: none; // Elimina el subrayado si el tag es un enlace
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #b8ddc4; // Cambia este valor según el color de fondo que prefieras cuando se pasa el cursor por encima
              cursor: pointer;
            }
          }
          &-title {
            font-size: 1.5rem;
            color: $color-primaryText;
            margin: 10px;
          }
        }
      }
    }
  }

  .contact {
    max-width: 100vw;
    height: 400px;
    margin-top: 90px;
    margin-left: 30px;

    .Escribime {
      font-size: 4rem;
      color: $color-primaryText;
      margin-bottom: 50px;
    }

    .btn-contact {
      color: $color-primaryText;
      font-size: 20px;
      background: rgba(0, 0, 0, 0);
      border: 2px solid;
      border-color: $color-primaryText;
      transition: all 1s ease;
      position: relative;
      padding: 1rem 4.2rem;
      font-weight: 400;
      text-decoration: none;

      &:hover {
        background: $color-acent;
        color: $color-back;
        text-decoration: none;
        border: none;
      }
    }
  }

  .footer {
    max-width: 100vw;
    background-color: $color-back;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-a {
      margin: 1em;
      font-size: 2em;

      &:hover {
        color: $color-acent;
      }

      a {
        color: $color-primaryText;

        .fab {
          transition: transform 2s all;
          color: $color-primaryText;

          &:hover {
            color: $color-acent;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
