*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
/* Color Theme Swatches in Hex */
/*FONT*/
html {
  scroll-behavior: smooth;
}

html body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  overflow-x: hidden;
}

html body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

html body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

html body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

html body::-webkit-scrollbar-thumb:hover {
  background: #555;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

html body::-webkit-scrollbar-track {
  background: #999;
  border-radius: 4px;
}

html body::-webkit-scrollbar-track:hover, html body::-webkit-scrollbar-track:active {
  background: #222;
}

html body .header {
  min-width: 100vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2em;
  padding-right: 2em;
}

@media (max-width: 320px) {
  html body .header {
    display: none;
  }
}

@media (max-width: 568px) {
  html body .header {
    display: none;
  }
}

@media (max-width: 768px) {
  html body .header {
    display: none;
  }
}

html body .header-nav {
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

html body .header-nav .header-its {
  color: #fafafa;
  font-size: 1.7em;
  padding: 0.5em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 1s all;
  transition: -webkit-transform 1s all;
  transition: transform 1s all;
  transition: transform 1s all, -webkit-transform 1s all;
  border-radius: 30px;
  background-color: #404040;
  width: 110px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  -webkit-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
}

html body .header-nav .header-its:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

html body .header-nav .internos {
  color: #fafafa;
  font-size: 1.7em;
  padding: 0.5em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: -webkit-transform 1s all;
  transition: -webkit-transform 1s all;
  transition: transform 1s all;
  transition: transform 1s all, -webkit-transform 1s all;
  border-radius: 30px;
  background-color: #404040;
  width: 160px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  -webkit-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
}

html body .main-text {
  max-width: 100vw;
  min-height: 100vh;
  /*@media (max-width: $mobile-breakpoint) {
              display: flex;
              justify-content: center;
              font-size: 1.5em;
              min-width: 100%;
          }*/
}

@media (max-width: 320px) {
  html body .main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.5em;
    min-width: 100%;
    padding: 1em;
  }
}

html body .main-text-principal {
  padding-top: 13.2em;
  padding-left: 3em;
  margin-top: 3em;
  margin-right: 6em;
  background-image: url(/SRC/person.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

@media (max-width: 320px) {
  html body .main-text-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    min-width: 100vw;
    background-image: none;
    overflow-x: hidden;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1em;
    min-width: 100vw;
    background-image: none;
    overflow-x: hidden;
  }
}

html body .main-text-principal-h1 {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 5em;
  line-height: 1em;
}

@media (max-width: 320px) {
  html body .main-text-principal-h1 {
    padding: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal-h1 {
    padding: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

html body .main-text-principal-p1 {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  width: 50%;
  padding-bottom: 0.2em;
  line-height: 1.5em;
}

@media (max-width: 320px) {
  html body .main-text-principal-p1 {
    max-width: 100%;
    font-size: 0.7em;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal-p1 {
    min-width: 100%;
  }
}

html body .main-text-principal-p2 {
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  width: 50%;
  line-height: 1.5em;
}

@media (max-width: 320px) {
  html body .main-text-principal-p2 {
    display: none;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal-p2 {
    min-width: 100%;
  }
}

html body .section {
  margin-top: 5em;
}

html body .section .title {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #404040;
  padding-left: 1em;
  padding-bottom: 1em;
}

html body .section-content {
  max-width: 100vw;
  margin: 10px;
  -webkit-box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body .section-content-images {
  width: 600px;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

html body .section-content-images:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

html body .section-content-images img {
  width: 100%;
  -webkit-transition: -webkit-transform 1s all;
  transition: -webkit-transform 1s all;
  transition: transform 1s all;
  transition: transform 1s all, -webkit-transform 1s all;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

html body .section-content-images-indiv {
  width: 600px;
  height: 40px;
  background-color: #0d0d0d;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

html body .section-content-images-indiv .other {
  font-size: 2em;
  color: #fafafa;
}

html body .footer {
  max-width: 99vw;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .footer-a {
  margin: 1em;
  font-size: 2em;
}

html body .footer-a a {
  color: #0d0d0d;
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

html body .footer-a a .fab .fa-github .fa-linkedin-in .fa-dribbble .fa-behance {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
  color: #0d0d0d;
}

html body .footer-a a .fab .fa-github .fa-linkedin-in .fa-dribbble .fa-behance:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #737373;
}

html body .footer-a a .far .fa-envelope {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
  color: #0d0d0d;
}

html body .footer-a a .far .fa-envelope:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #737373;
}

html body .footer-a a .fas .fa-arrow-up {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
}

html body .footer-a a .fas .fa-arrow-up:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #737373;
}

html body .footer .fa-arrow-up {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #0d0d0d;
  font-size: 2rem;
}

html body .footer .fa-arrow-up:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
  color: #737373;
}
/*# sourceMappingURL=style.css.map */