*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*BREAK POINTS*/
/* Color Theme Swatches in Hex */
/*FONT*/
html {
  scroll-behavior: smooth;
}

@media (max-width: 568px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

html body {
  font-family: "Roboto", sans-serif;
  background-color: #222;
  overflow-x: hidden;
}

@media (max-width: 320px) {
  html body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    overflow-x: none;
  }
}

@media (max-width: 568px) {
  html body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    overflow-x: none;
  }
}

html body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

html body::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 4px;
}

html body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

html body::-webkit-scrollbar-thumb:hover {
  background: #555;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

html body::-webkit-scrollbar-track {
  background: #999;
  border-radius: 4px;
}

html body::-webkit-scrollbar-track:hover, html body::-webkit-scrollbar-track:active {
  background: #222;
}

html body #myBtn {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 4px;
  border-radius: 100px;
}

html body #myBtn:hover {
  background-color: #92e3a9;
  color: #222;
}

@media (max-width: 320px) {
  html body #myBtn {
    display: none;
  }
}

@media (max-width: 568px) {
  html body #myBtn {
    display: none;
  }
}

@media (max-width: 768px) {
  html body #myBtn {
    display: none;
  }
}

html body .header {
  min-width: 100vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 2em;
  padding-right: 2em;
}

@media (max-width: 320px) {
  html body .header {
    display: none;
  }
}

@media (max-width: 568px) {
  html body .header {
    display: none;
  }
}

@media (max-width: 768px) {
  html body .header {
    display: none;
  }
}

html body .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html body .header-nav .header-its {
  color: #fff;
  font-size: 1.7em;
  padding: 0.5em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
  -webkit-transition: -webkit-transform 1s all;
  transition: -webkit-transform 1s all;
  transition: transform 1s all;
  transition: transform 1s all, -webkit-transform 1s all;
  border-radius: 30px;
  background-color: #404040;
  width: 110px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
  -webkit-box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
}

html body .header-nav .internos {
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

html body .header-nav .internos::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 0.1rem;
  background: #92e3a9;
  -webkit-transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
  transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
}

html body .header-nav .internos:hover {
  color: #fff;
}

html body .header-nav .internos:hover::after {
  right: 0;
  height: 1px;
  background: #92e3a9;
}

html body .main-text {
  max-width: 100vw;
  min-height: 100vh;
}

@media (max-width: 320px) {
  html body .main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 568px) {
  html body .main-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}

html body .main-text-principal {
  padding-top: 13.2em;
  padding-left: 3em;
  margin-top: 3em;
  margin-right: 6em;
}

@media (max-width: 568px) {
  html body .main-text-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  html body .main-text-principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

html body .main-text-principal img {
  margin-top: -100px;
  float: right;
}

@media (max-width: 320px) {
  html body .main-text-principal img {
    display: none;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal img {
    display: none;
  }
}

html body .main-text-principal-h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  line-height: 1em;
}

@media (max-width: 568px) {
  html body .main-text-principal-h1 {
    font-size: 4rem;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal-h1 {
    font-size: 2rem;
  }
}

html body .main-text-principal-subtitle {
  color: #92e3a9;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 320px) {
  html body .main-text-principal-subtitle {
    font-size: 2rem;
    padding: 0;
    padding-top: 0;
    margin-top: 0;
    font-size: 52%;
  }
}

@media (max-width: 568px) {
  html body .main-text-principal-subtitle {
    font-size: 2rem;
    padding: 0;
    padding-top: 0;
    margin-top: 0;
  }
}

html body .main-text-principal-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  padding: 1rem 4.2rem;
  font-weight: 400;
  text-decoration: none;
}

html body .main-text-principal-btn:hover {
  background: #92e3a9;
  color: #222;
  text-decoration: none;
  border: #92e3a9;
}

html body .about {
  color: #fff;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
}

@media (max-width: 320px) {
  html body .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  html body .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

html body .about .quien {
  font-size: 4.3rem;
  margin: 50px 0 50px 30px;
}

@media (max-width: 320px) {
  html body .about .quien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }
}

@media (max-width: 568px) {
  html body .about .quien {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

html body .about-text {
  font-family: "Roboto", sans-serif;
  width: 800px;
  height: auto;
  margin-left: 30px;
}

html body .about-text .myName {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 30px;
}

html body .about-text .btn-my {
  color: #fff;
  font-size: 20px;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  padding: 1rem 4.2rem;
  font-weight: 400;
  text-decoration: none;
  margin: 60px 0 20px 0;
}

html body .about-text .btn-my:hover {
  background: #92e3a9;
  color: #222;
  text-decoration: none;
  border: #92e3a9;
}

@media (max-width: 320px) {
  html body .about-text .btn-my {
    display: none;
  }
}

@media (max-width: 568px) {
  html body .about-text .btn-my {
    display: none;
  }
}

html body .section {
  margin-top: 5em;
}

@media (max-width: 320px) {
  html body .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  html body .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

html body .section .title {
  font-family: "Roboto", sans-serif;
  font-size: 4.3rem;
  color: #fff;
  padding-left: 30px;
  padding-bottom: 1em;
}

@media (max-width: 320px) {
  html body .section .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }
}

@media (max-width: 568px) {
  html body .section .title {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

html body .section-content {
  max-width: 100vw;
  margin: 10px;
  -webkit-box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
          img {
            width: 100%;
            transition: transform 1s all;
            cursor: pointer;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }

          &-indiv {
            width: 100%;
            height: 40px;
            background-color: #111;
            opacity: 0.9;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .other {
              font-size: 2em;
              color: #fafafa;
            }

            @media (max-width: $minimobile-breakpoint) {
              display: none;
            }

            @media (max-width: $mobile-breakpoint) {
              min-width: none;
            }
          }*/
}

html body .section-content-images {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  margin: 0 auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .section-content-images:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: none;
  background: linear-gradient(-45deg, #92e3a9, #37e263, #148230);
  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html body .section-content-images .text-section {
  font-size: 2rem;
}

html body .section-content-images .text-section:hover {
  font-size: 4rem;
  text-transform: uppercase;
}

html body .section-content-images .text-section a {
  text-decoration: none;
  color: #fff;
}

html body .section-content-images .text-section a:hover {
  color: #fff;
}

html .contact {
  max-width: 700px;
  height: 400px;
  margin-top: 90px;
  margin-left: 30px;
}

@media (max-width: 320px) {
  html .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  html .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

html .contact .Escribime {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 50px;
}

@media (max-width: 320px) {
  html .contact .Escribime {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }
}

@media (max-width: 568px) {
  html .contact .Escribime {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

html .contact .btn-contact {
  color: #fff;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
  padding: 1rem 4.2rem;
  font-weight: 400;
  text-decoration: none;
}

html .contact .btn-contact:hover {
  background: #92e3a9;
  color: #222;
  text-decoration: none;
  border: none;
}

html .footer {
  max-width: 100vw;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 320px) {
  html .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

@media (max-width: 568px) {
  html .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

html .footer-a {
  margin: 1em;
  font-size: 2em;
}

html .footer-a:hover {
  color: #92e3a9;
}

html .footer-a a {
  color: #fff;
}

html .footer-a a .fab {
  -webkit-transition: -webkit-transform 2s all;
  transition: -webkit-transform 2s all;
  transition: transform 2s all;
  transition: transform 2s all, -webkit-transform 2s all;
  color: #fff;
}

html .footer-a a .fab:hover {
  color: #92e3a9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */