*,
*:after,
*:before {
  box-sizing: border-box;
}

/*BREAK POINTS*/
$minimobile-breakpoint: 320px;
$mobile-breakpoint: 568px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

/* Color Theme Swatches in Hex */
$color-casiBlanco: #fff;
$color-verde: #92e3a9;
$color-gris: #bfbfbf;
$color-grisTopo: #737373;
$color-grisOscuro: #404040;
$color-negro: #212121;

/*FONT*/
$main-font: "Roboto",
sans-serif;


html {
  scroll-behavior: smooth;

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  body {
    font-family: $main-font;
    background-color: $color-negro;
    overflow-x: hidden;

    @media (max-width: $minimobile-breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      overflow-x: none;
    }

    @media (max-width: $mobile-breakpoint) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      overflow-x: none;
    }

    //ESTILOS EN SCROLLBAR

    &::-webkit-scrollbar {
      width: 10px;
      height: 8px;
    }

    //Estilos barra (thumb) de scroll
    &::-webkit-scrollbar-thumb {
      background: #222;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: #999999;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }

    //Estilos track de scroll
    &::-webkit-scrollbar-track {
      background: #999;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
      background: #222;
    }

    #myBtn {
      width: 50px;
      height: 50px;
      display: none;
      position: fixed;
      bottom: 20px;
      right: 30px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: $color-negro;
      color: #fff;
      cursor: pointer;
      padding: 4px;
      border-radius: 100px;

      &:hover {
        background-color: $color-verde;
        color: $color-negro;
      }

      @media (max-width: $minimobile-breakpoint) {
        display: none;
      }

      @media (max-width: $mobile-breakpoint) {
        display: none;
      }

      @media (max-width: $tablet-breakpoint) {
        display: none;
      }
    }

    .header {
      min-width: 100vw;
      min-height: 40px;
      display: flex;
      justify-content: flex-end;
      padding-top: 2em;
      padding-right: 2em;

      @media (max-width: $minimobile-breakpoint) {
        display: none;
      }

      @media (max-width: $mobile-breakpoint) {
        display: none;
      }

      @media (max-width: $tablet-breakpoint) {
        display: none;
      }

      &-nav {
        display: flex;
        justify-content: flex-end;

        .header-its {
          color: $color-casiBlanco;
          font-size: 1.7em;
          padding: 0.5em 2.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          text-decoration: none;
          transition: transform 1s all;
          border-radius: 30px;
          background-color: $color-grisOscuro;
          width: 110px;
          height: 35px;
          font-family: $main-font;
          margin-right: 10px;
          box-shadow: 10px 10px 14px -8px rgba(0, 0, 0, 0.25);
        }

        .internos {
          font-size: 1.4rem;
          position: relative;
          display: inline-block;
          padding: 1rem 0.5rem;
          text-decoration: none;
          color: inherit;
          transition: all 0.2s;
          color: $color-casiBlanco;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 100%;
            display: inline-block;
            height: 0.1rem;
            background: $color-verde;
            transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
          }

          &:hover {
            color: $color-casiBlanco;
          }

          &:hover::after {
            right: 0;
            height: 1px;
            background: $color-verde;
          }
        }
      }
    }

    .main-text {
      max-width: 100vw;
      min-height: 100vh;

      @media (max-width: $minimobile-breakpoint) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
      }

      @media (max-width: $mobile-breakpoint) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
      }

      &-principal {
        padding-top: 13.2em;
        padding-left: 3em;
        margin-top: 3em;
        margin-right: 6em;


        @media (max-width: $mobile-breakpoint) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
        }

        @media (max-width: $minimobile-breakpoint) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 0 auto;
        }

        .img {
          margin-top: -100px;
          float: right;

          @media (max-width: $minimobile-breakpoint) {
            display: none;
          }

          @media (max-width: $mobile-breakpoint) {
            display: none;
          }
        }

        /* ANIMACIONES SVG*/

        #Exigual {
          animation: hithere 1s ease infinite;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes hithere {
            30% {
              transform: scale(1.2);
            }

            60% {
              transform: rotate(-20deg) scale(1.2);
            }
          }
        }

        #If {
          animation: bounce 2s ease infinite;

          @keyframes bounce {
            70% {
              transform: translateY(0%);
            }

            80% {
              transform: translateY(-15%);
            }
          }
        }

        #Igual {
          animation: pulse 1s infinite ease-in-out alternate;
          transform-origin: center;
          transform-box: fill-box;

          @keyframes pulse {
            from {
              transform: scale(0.8);
            }

            to {
              transform: scale(1.2);
            }
          }
        }

        &-h1 {
          color: $color-casiBlanco;
          font-family: $main-font;
          font-size: 4.5rem;
          line-height: 1em;

          @media (max-width: $mobile-breakpoint) {
            font-size: 4rem;
          }

          @media (max-width: $mobile-breakpoint) {
            font-size: 2rem;
          }
        }

        &-subtitle {
          color: $color-verde;
          font-family: $main-font;
          font-size: 2rem;
          margin-top: 20px;
          margin-bottom: 40px;

          @media (max-width: $minimobile-breakpoint) {
            font-size: 2rem;
            padding: 0;
            padding-top: 0;
            margin-top: 0;
            font-size: 52%;
          }

          @media (max-width: $mobile-breakpoint) {
            font-size: 2rem;
            padding: 0;
            padding-top: 0;
            margin-top: 0;
          }
        }
      }

      &-btn {
        color: $color-casiBlanco;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1.2em;
        background: rgba(0, 0, 0, 0);
        border: 2px solid;
        border-color: $color-casiBlanco;
        transition: all 1s ease;
        position: relative;
        padding: 1rem 4.2rem;
        font-weight: 400;
        text-decoration: none;

        &:hover {
          background: $color-verde;
          color: $color-negro;
          text-decoration: none;
          border: $color-verde;
        }
      }
    }
  }


  .about {
    color: $color-casiBlanco;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;

    @media (max-width: $minimobile-breakpoint) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @media (max-width: $mobile-breakpoint) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }


    .quien {
      font-size: 4.3rem;
      margin: 50px 0 50px 30px;


      @media (max-width: $minimobile-breakpoint) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2.5rem;
      }

      @media (max-width: $mobile-breakpoint) {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }

    &-text {
      font-family: $main-font;
      width: 800px;
      height: auto;
      margin-left: 30px;

      .myName {
        font-size: 1.5rem;
        color: $color-casiBlanco;
        margin-bottom: 30px;

        @media (max-width: $minimobile-breakpoint) {}

        @media (max-width: $mobile-breakpoint) {}
      }

      .btn-my {
        color: $color-casiBlanco;
        font-size: 20px;
        padding: 0.5em 1.2em;
        background: rgba(0, 0, 0, 0);
        border: 2px solid;
        border-color: $color-casiBlanco;
        transition: all 1s ease;
        position: relative;
        padding: 1rem 4.2rem;
        font-weight: 400;
        text-decoration: none;
        margin: 60px 0 20px 0;

        &:hover {
          background: $color-verde;
          color: $color-negro;
          text-decoration: none;
          border: $color-verde;
        }

        @media (max-width: $minimobile-breakpoint) {
          display: none;
        }

        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
  }

  .section {
    margin-top: 5em;

    @media (max-width: $minimobile-breakpoint) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }

    @media (max-width: $mobile-breakpoint) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }

    .title {
      font-family: $main-font;
      font-size: 4.3rem;
      color: $color-casiBlanco;
      padding-left: 30px;
      padding-bottom: 1em;

      @media (max-width: $minimobile-breakpoint) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 2.5rem;
      }

      @media (max-width: $mobile-breakpoint) {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }
    }

    &-content {
      max-width: 100vw;
      margin: 10px;
      box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.4);
      display: flex;
      flex-wrap: wrap;

      &-images {
        width: 600px;
        height: 300px;
        border: 1px solid $color-casiBlanco;
        margin: 0 auto 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $color-casiBlanco;


        &:hover {
          transform: scale(1.03);
          border: none;
          background: linear-gradient(-45deg, #92e3a9, #37e263, #148230);
          background-size: 400% 400%;
          animation: gradient 15s ease infinite;

          @keyframes gradient {
            0% {
              background-position: 0% 50%;
            }

            50% {
              background-position: 100% 50%;
            }

            100% {
              background-position: 0% 50%;
            }
          }
        }

        .text-section {
          font-size: 2rem;

          &:hover {
            font-size: 4rem;
            text-transform: uppercase;
          }


          a {
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.contact {
  max-width: 700px;
  height: 400px;
  margin-top: 90px;
  margin-left: 30px;

  @media (max-width: $minimobile-breakpoint) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .Escribime {
    font-size: 4rem;
    color: $color-casiBlanco;
    margin-bottom: 50px;

    @media (max-width: $minimobile-breakpoint) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 2.5rem;
    }

    @media (max-width: $mobile-breakpoint) {
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
  }

  .btn-contact {
    color: $color-casiBlanco;
    font-size: 20px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: $color-casiBlanco;
    transition: all 1s ease;
    position: relative;
    padding: 1rem 4.2rem;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      background: $color-verde;
      color: $color-negro;
      text-decoration: none;
      border: none;
    }
  }
}

.footer {
  max-width: 100vw;
  background-color: $color-negro;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $minimobile-breakpoint) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
  }

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
  }

  &-a {
    margin: 1em;
    font-size: 2em;

    &:hover {
      color: $color-verde;
    }

    a {
      color: $color-casiBlanco;

      .fab {
        transition: transform 2s all;
        color: $color-casiBlanco;

        &:hover {
          color: $color-verde;
          transform: scale(1.10);
        }
      }
    }
  }
}